#Example parameters file
parameters :
    db :
        adapter : PDO_MYSQL
        params :
            host : 127.0.0.1
            port : 3306
            username : gamping
            password : gamping
            dbname : gamping
    facebook:
        key : facebook-app-key
    googleAnalytics:
        key : ga-key
    currentLanguage :
        iso2 : fr
        id : 1
    websites :
        fr :
            url : www.gamping.fr.dev
        en :
            url : www.gamping.com.dev
        es :
            url : www.gamping.es.dev
    dateDefaultTimezone : Europe/Paris
    defaultLanguages :
        gamping_com_dev :
            iso2 : en
            id : 2
        gamping_es_dev :
            iso2 : es
            id : 3
        gamping_fr_dev :
            iso2 : fr
            id : 1
        gamping_uk_dev :
            iso2 : en
            id : 2
        www_gamping_com_dev :
            iso2 : en
            id : 2
        www_gamping_es_dev :
            iso2 : es
            id : 3
        www_gamping_fr_dev :
            iso2 : fr
            id : 1
        www_gamping_uk_dev :
            iso2 : en
            id : 2
