/* PATHS =====================================================================*/
@CONFIG_PATH : "./config";
@IMAGE_PATH : "./images";
@LIB_PATH : "./lib";
@BOOTSTRAP_PATH : "../vendor/bootstrap/less";
@FONTELLO_PATH : "./fonts/fontello";
@PAGES_PATH : "./pages";

/* CONFIG ====================================================================*/
@import "@{CONFIG_PATH}/colors.less";
@import "@{CONFIG_PATH}/types.less";
@import "@{CONFIG_PATH}/variables.less";

/* VENDORS ==================================================================*/
/* BOOTSTRAP ===*/
@import "@{BOOTSTRAP_PATH}/mixins.less";
@import "@{BOOTSTRAP_PATH}/normalize.less";
@import "@{BOOTSTRAP_PATH}/print.less";

@import "@{BOOTSTRAP_PATH}/scaffolding.less";
@import "@{BOOTSTRAP_PATH}/grid.less";
@import "@{BOOTSTRAP_PATH}/forms.less";
@import "@{BOOTSTRAP_PATH}/utilities.less";
@import "@{BOOTSTRAP_PATH}/responsive-utilities.less";

/* CUSTOM LIBS ===============================================================*/
@import "@{LIB_PATH}/fonts.less";
@import "@{LIB_PATH}/mixins.less";
@import "@{LIB_PATH}/buttons.less";

/* LAYOUT ====================================================================*/
@import "./type.less";

// Spacer between element. Here 15px, half of the grid gutter set in bootstrap grid
@SPACER:15px;

@import "./layout.less";

/* THE PAGES =================================================================*/
@import "@{PAGES_PATH}/homepage.less";
@import "@{PAGES_PATH}/add.less";
@import "@{PAGES_PATH}/search.less";

@import "./forms.less";
@import "./common-elements.less";

@font-face {
    font-family: 'gamping';
    src:    url('fonts/fontello/font/gamping.eot');
    src:    url('fonts/fontello/font/gamping.eot#iefix') format('embedded-opentype'),
            url('fonts/fontello/font/gamping.woff') format('woff'),
            url('fonts/fontello/font/gamping.ttf') format('truetype'),
            url('fonts/fontello/font/gamping.svg#gamping') format('svg');
    font-weight: normal;
    font-style: normal;
}
